.container {
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  min-width: none;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 50px;
  box-sizing: border-box;
  box-shadow: #5b5b5b 0px 0px 2px;
}

.header h1 {
  font-size: 25px;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.footer-content {
  display: block;
  color: #b0b0b0;
  font-size: 12px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: #212121;
  margin: 0;
  padding: 0;
}

.img-logo {
  height: 80%;
}

.textfield-main {
  display: block;
}

.textfield-main input {
  max-width: 740px;
  width: 90vw;
  border: 0 inset #878787;
  border-radius: 16px;
  background-color: transparent;
  padding: 17px;
  box-shadow: #8b8b8b 0px 0px 2px;
  font-size: 16px;
}

.main-img-text-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.main-img-text-div img {
  height: 80px;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}
