.container {
  height: 100vh;
  height: 100dvh;
  display: grid;
  box-sizing: border-box;
  min-width: none;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.container-home {
  height: 100vh;
  height: 100dvh;
  display: grid;
  box-sizing: border-box;
  min-width: none;
  grid-template-areas: "nav nav nav";
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 50px;
  box-sizing: border-box;
}

.header h1 {
  font-size: 20px;
  text-align: center;
}

.ham-menu {
  display: block;
}

.ham-menu img {
  height: 30px;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin: auto;
}

.nav {
  grid-area: nav;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  align-items: center;
  padding: 10px 10px 0px;
  background-color: #171717;
  padding-bottom: 100px;
  justify-content: center;
}

.nav ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.nav li {
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 5px 20px 5px;
  margin: 3px;
  border-radius: 15px;
  box-shadow: inset #c8c8c8 0px -2px 2px;
  height: 30px;
  width: clamp(200px, 40%, 400px);
  align-items: center;
  transition: box-shadow;
}

.button-text-to-speech:hover {
  box-shadow: inset #c8c8c8 0px -1px 15px;
}

.button-text-to-text:hover {
  box-shadow: inset #c8c8c8 0px -1px 15px;
}

.button-text-to-image:hover {
  box-shadow: inset #c8c8c8 0px -1px 15px;
}

.nav img {
  height: 40px;
  margin-bottom: 5px;
}

.nav-header {
  font-size: 30px;
  text-align: center;
}

#home-body {
  display: flex;
  background-color: #171717;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.footer-content {
  display: block;
  color: #b0b0b0;
  font-size: 12px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

body {
  background-color: #212121;
  margin: 0;
  padding: 0;
}

.img-logo {
  height: 80%;
}

.textfield-main {
  display: block;
}

.textfield-main input {
  max-width: 740px;
  width: 85vw;
  border: 0 inset #878787;
  border-radius: 16px;
  background-color: transparent;
  padding: 17px;
  box-shadow: #171717 0px 10px 10px;
  border: dashed 1px #c8c8c8;
  font-size: 16px;
}

.main-img-text-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.main-img-text-div img {
  height: 80px;
}

.main-img-text-div h4 {
  font-size: 20px;
}

.display-img-main {
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  box-shadow: inset 0px 0px 200px rgb(0, 0, 0);
  width: 95%;
  max-width: 700px;
  max-height: 700px;
  height: 95%;
  border-radius: 10px;
  margin: 2vh 2vw 2vh;
  box-sizing: border-box;
}

.display-img-main h5 {
  text-align: center;
  align-self: center;
  position: absolute;
  font-weight: 200;
}

.display-img-main img {
  width: 100%;
}

.drag-drop-file {
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  box-shadow: inset 0px 0px 50px rgb(0, 0, 0);
  width: 70vw;
  max-width: 700px;
  height: 90%;
  border-radius: 10px;
  margin: 2vh 2vw 2vh;
  box-sizing: border-box;
  background-color: #171717;
}

.drag-drop-file h5 {
  text-align: center;
  align-self: center;
  position: absolute;
  font-weight: 200;
}

.drag-drop-file-result {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  width: 100vw;
  max-width: 800px;
  max-height: 50px;
  height: 95%;
  border-radius: 10px;
  margin: 0vh 2vw 1vh;
  box-sizing: border-box;
  background-color: #000000;
}

@media only screen and (min-width: 1024px) {
  .nav {
    display: flex;
  }
  .container {
    grid-template-areas:
      "nav header header"
      "nav main main"
      "nav footer footer";
    grid-template-columns: minmax(250px, 1fr) 70% 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .ham-menu {
    display: none;
  }
  .img-logo {
    display: none;
  }
}
